{% extends "base.html" %}

{% block content %}

	<section class="sec-background-img">
		<div class="container">
			<div class="col-xs-12 col-md-6">
				<h2 class="white">Doodles rather than paintings</h2>
				<p class="white">
					After 13 years, I decided to pick up my hobby in childhood - doodling. Check out the doodles I made at 1994 and 2016, I did make some progress :)<br/>
					Well, regardless of creativity, in terms of which my capacity might have deteriorated...<br/><br/>
					Doodling is fun. I would not call this recreation painting, since paintings are art, touching masterpieces, stories behind the papers or canvases. Paintings are charming, but the process of making one? It takes too much that I would rather choose to doodle.<br/><br/>
					However, I shall salute all great painters. There are not many of them today.
				</p>
				<img src="static/img/doodles/two_year_old.jpg" alt="doodle I drew at two year old" id="two_year_old">
				<div class="p-center"><p class="white" class="p-center">Doodle Pieces by 2-year-old me, Mar.1994</p></div>
			</div>
			<div class="col-xs-12 col-md-6" class="p-center">
				<img src="static/img/doodles/heesch.jpg" alt="doodle of Esther Heesch" id="heesch">
				<div class="p-center"><p class="white">Portrait Doodle of Germany Supermodel Esther Heetch, Oct.2016</p></div>
			</div>
		</div>
	</section>
	
	<section class="sec-white" id="doodles">
		<div class="container">
			<h2>Some of my pen doodles</h2>
			<div class="p-center">
			<div class="col-sm-4">
				<img src="static/img/doodles/doodle1.jpg" alt="doodle of castle">
				<p>Neuschwanstein Castle in Hohenschwangau, Germany</p>
			</div>
			<div class="col-sm-4">
				<img src="static/img/doodles/doodle4.jpg" alt="doodle of street">
				<p>Western Streetscape</p>
			</div>
			<div class="col-sm-4">
				<img src="static/img/doodles/doodle5.jpg" alt="doodle of temple">
				<p>Ancient Chinese Restaurant</p>
			</div>
			</div>
		</div>

		<div class="container">
			<div class="p-center">
			
			<div class="col-xs-6 col-sm-3">
				<img src="static/img/doodles/color1.jpg" alt="doodle of square">
				<p>Place de la Bastille in Paris, France</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<img src="static/img/doodles/doodle6.jpg" alt="doodle of tree">
				<p>Pinaceae Trees in China</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<img src="static/img/doodles/doodle2.jpg" alt="doodle of church">
				<p>Saint Sophia Cathedral in Harbin, China</p>
			</div>
			<div class="col-xs-6 col-sm-3">
				<img src="static/img/doodles/doodle3.jpg" alt="doodle of fortress">
				<p>Western Fortress</p>
			</div>
			</div>
		</div>

	</section>

{% endblock %}