{% extends "base.html" %}

{% block content %}

	<section class="sec-white">
		<div class="container">
			<div class="col-md-6">
			<div>
				<h2>Education</h2>
				<details open>
					<summary>UNIVERSITY OF MICHIGAN SCHOOL OF INFORMATION<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Ann Arbor, MI | Sept. 2016 - Apr. 2018</summary>
					<ol>
						<li>Master of Science in Information - Information Analysis and Retrieval</li>
						<li>GPA: 3.94/4.00</li>
					</ol>
				</details>
				<details open>
					<summary>HUAZHONG UNIVERSITY OF SCIENCE AND TECHNOLOGY<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Wuhan, China | Sept. 2011 - Jul. 2016</summary>
					<ol>
						<li>Bachelor of Engineering in Urban Planning</li>
						<li>GPA: 87.40/100.00   3.76/4.00</li>
						<li>Honor:<br/>
						National Scholarship - Ministry of Education of the People's Republic of China, 2011-2012<br/>
						Individual Scholarship - Huazhong University of Science and Technology, 2012-2013<br/>
						First Class Academic Scholarship - Huazhong University of Science and Technology, 2013-2014
						</li>
				</ol>
				</details>
			</div>

			<div>
				<h2>Experience</h2>
				<details open>
					<summary>TECHNOLOGY INNOVATION CENTER, BEIJING TSINGHUA TONGHENG URBAN PLANNING &amp; DESIGN INSTITUTE CO., LTD<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Beijing, China | Aug. - Sept. 2015</summary>
					<ol>
						<li>Research Assistant (Summer Intern)</li>
						<li>Arranged raw data of housing and transportation using Excel and ArcGIS</li>
						<li>Assisted in results illustration process using AutoCAD and Photoshop</li>
					</ol>
				</details>
				<details open>
					<summary>HARBIN URBAN AND RURAL PLANNING AND DESIGN RESEARCH INSTITUTE<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Harbin, China | Jul. - Aug. 2015</summary>
					<ol>
						<li>Research Assistant (Summer Intern)</li>
						<li>Assisted in field researches and project presentation of a historic restoration plan of surrounding area of Harbin railway station</li>
					</ol>
				</details>
			</div>
			</div>

			<div class="col-md-6">
			<div>
				<h2>Projects</h2>
				<details open>
					<summary>STATISTICS ONLINE COMPUTATIONAL RESOURCE ANALYTICAL TOOLBOX (SOCRAT) | UNIVERSITY OF MICHIGAN<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Ann Arbor, MI | Jan. 2017 On-going</summary>
					<ol>
						<li>Help build open source platform that runs in-browser applications for interative data analysis and visualization</li>
						<li>Work with JavaScript, CoffeeScript, Node.js, D3.js, AngularJS</li>
						<li>Responsibilities: inputting data, embedding JavaScript applications, creating interactive charts, improving web architecture and framework</li>
					</ol>
				</details>
				<details open>
					<summary>COURSE PROJECTS | SCHOOL OF INFORMATION, UNIVERSITY OF MICHIGAN<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Ann Arbor, MI | Sept. - Dec. 2016</summary>
					<ol>
						<li>Analyzed open data of criminal resistance from Orlando Police Department using logistic regression and hypothesis tests</li>
						<li>Analyzed data of paintings retrieved from Flickr and Harvard Art Museum API</li>
						<li>Wrote prediction tool for prostate cancer based on test results</li>
						<li>Built web portfolio using HTML, CSS, Bootstrap with Google App Engine</li>
						<li>Engaged in a contextual query project as consultant with a startup company to look into its inner communication problems</li>
					</ol>
				</details>
				<details open>
					<summary>SURVEY OF PROTECTION FACILITIES AND RESCUING CONDITIONS AROUND WATER BODIES<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Wuhan, China | Mar.-Jul. 2014</summary>
					<ol>
						<li>Honor: Second Class Reward of National Urban and Rural Sociological Investigation Report among Higher Education Institutes, National Steering Committee of Urban and Rural Planning Education in China</li>
						<li>Assessed danger factors using Analytical Hierarchy Process, determined sites of rescue stations using Buffer model</li>
						<li>Interviewed residents, police officers, volunteer lifeguards, flood control officials</li>
						<li>Displayed contents and results in various visualization forms</li>
					</ol>
				</details>
				<details open>
					<summary>COURSE PROJECTS | SCHOOL OF ARCHITECTURE AND URBAN PLANNING, HUAZHONG UNIVERSITY OF SCIENCE AND TECHNOLOGY<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;China | 2014 - 2016</summary>
					<ol>
						<li>Projects:<br/>
						Urban research and master plan of City of Macheng, Hubei Province<br/>
						Rural research and planning of Fanshangyuan, Hubei Province<br/>
						Historical research and regulatory plan of Xiguan District, Xinjiang, Shanxi Province</li>
						<li>Regular work<br/>
						Cooperated with urban and rural governors and enterprises<br/>
		                Conducted surveys of residential conditions<br/>
		                Analyzed economic conditions and development dynamics and strategies<br/>
		                Developed construction plans
						</li>
					</ol>
				</details>
			</div>	
			</div>
		</div>
	</section>

{% endblock %}