{% extends "base.html" %}

{% block content %}

	<section class="sec-white">
		<div class="container">
			<h2>Skills &amp; Abilities</h2>

			<div class="col-sm-6 col-md-4">
			<details open>
				<summary>PROGRAMMING</summary>
				<p>Python
					<progress value="30" max="100">
				</p>
				<p>Java
					<progress value="10" max="100">
				</p>
				<p>JavaScript
					<progress value="20" max="100">
				</p>
				<p>SQL
					<progress value="15" max="100">
				</p>
				<p>PHP
					<progress value="15" max="100">
				</p>
				<p>Visual Basic
					<progress value="10" max="100">
				</p>
				<p>Related coursework: Programming I / Intermediate Programming / Database Application Design</p>
			</details>

			<details open>
				<summary>DATA RETRIEVAL AND ANALYSIS</summary>
				<p>R
					<progress value="10" max="100">
				</p>
				<p>ArcGIS
					<progress value="10" max="100">
				</p>
				<p>Related coursework: Introduction to Statistics and Data Analysis / Information Retrieval</p>
			</details>
			</div>

			<div class="col-sm-6 col-md-4">
			<details open>
				<summary>WEB DESIGN</summary>
				<p>Well...what you are looking at is my first and only web portfolio :)</p>
					<p>HTML5
						<progress value="20" max="100">
					</p>
					<p>CSS3
						<progress value="20" max="100">
					</p>
				<p>Related coursework: Design of Complex Websites</p>
			</details>
			<details open>
				<summary>GRAPHICAL AND SPATIAL DESIGN</summary>
					<p>Photoshop
						<progress value="30" max="100">
					</p>
					<p>AutoCAD
						<progress value="20" max="100">
					</p>
					<p>Google Sketchup
						<progress value="20" max="100">
					</p>
			</details>
			</div>

			<div class="col-sm-6 col-md-4">
			<details open>
				<summary>COMMUNICATION</summary>
				<p>Contextual Inquiry
					<progress value="20" max="100">
				</p>
				<p>Native speaker of Mandarin
					<progress value="80" max="100">
				</p>
				<p>Related coursework: Contextual Inquiry and Consulting Foundations</p>
			</details>
			<details open>
				<summary>ORGANIZING</summary>
				<p>Student Cadre at Qiming Reading Club, Huazhong University of Science and Technology School of Architecture and Urban Planning, Oct. 2011-Jun. 2014
				</p>
				<p>Honor:<br/>
				Outstanding Student Leader – Huazhong University of Science and Technology, 2012-2013 and 2013-2014
				</p>
			</details>
			</div>

		</div>
	</section>

{% endblock %}